rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isUserAuthenticated(userID) {
      return request.auth.uid == userID;
    }
    match /users/{userID} {
      allow create: if request.auth.uid != null;
      allow update, delete: if isUserAuthenticated(request.resource.data.authorId);
      allow read: if request.auth.uid != null;
      match /createdPosts/{postID} {
        allow read, write: if request.auth.uid != null;
      }
    }
    match /posts/{postID} {
      // postのauthorと書き込みリクエストした認証ユーザーが一致していれば許可
      allow create: if request.auth.uid != null;
      allow update, delete: if isUserAuthenticated(request.resource.data.authorId);
      allow read: if request.auth.uid != null;
    }
  }
}
