/* 元のタグに対しての指定 */
/* * {
  outline: 1px solid red;
} */

.col-4, .col-6, .col-12 .col-sm-4, .col-sm-8 {
  padding: 5px !important;
}

body {
  background-color: #F3EFE4 !important;
  font-weight: 600 !important;
  padding-bottom: 60px;
}
.row {
  margin: auto 0 !important;
}
p {
  margin-bottom: 0 !important;
}

a {
  color: #282c34 !important;
}
a:hover {
  color: rgba(47, 50, 50, 0.3) !important;
}

tr {
  height: 2rem;
}

th {
  width: 30%;
}

figure {
  margin: 0px !important;
}

/* input関連の指定 */
input, textarea, button, select {
  border: none;
  border-radius: 3px;
  background-color: #F3EFE4;
  color: #282c34;
  font-weight: 600;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  background-color: rgba(47, 50, 50, 0.1);
}

input[type="checkbox"] {
  display: inline;
  width: 25px;
  justify-content: center;
  align-items: center;
}

label {
  align-items: center;
  margin: 0px !important;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"]+label {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

input[type="checkbox"]+label::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 3px;
  margin-right: 1em;
  background-color: #FFF;
}

input[type="checkbox"]:checked+label::before {
  background-color: #F9BA32;
}

input[type="checkbox"]:checked+label::after{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 14px;
  height: 7px;
  margin-top: 0px;
  top: 25%;
  left: 3px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color:  #282c34;
}

[id="postName"] {
  font-weight: 700;
  font-size: 125%;
  color: #282c34;
}

/* button関連の指定 */

.submit {
  display: inline;
  color: #282c34;
  text-align: center;
  text-decoration: none;
  background-color: #F9BA32;
  border-bottom: solid 3px #eca100; 
  border-radius: 100px;
  margin: 0px auto;
}
.submit:hover {
  background-color: #eca100;
  border-bottom: solid 3px #da9500;
}
.submit:active {
  margin-top: 3px;
  border-bottom: none;
  -webkit-transform: translateY(3px);
  /*下移動 */
  transform: translateY(3px);
} 

/* margin-auto, display-noneを指定 */
.margin-auto {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}
/* 
.list-style-none {
  list-style: none;
  display: inline;
} */

.display-none {
  display: none;
}
/* 
.row {
  margin: 10px !important;
} */

/* Header */

.header {
  background-color: #F3EFE4;
  padding: 30px 0px 10px;
  margin: auto;
  border-radius: 50px;
  justify-content: space-between;
}

.title {
  font-size: 150%;
  font-weight: 600;
  align-items: center;
  padding-left: 5%;
}

/* NavBar */

.nav_bar {
  display: flex;
  width: 200px;
  padding-right: 5%;
  /* border-radius: 50px; */
}
.nav_bar a {
  color: #282c34;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Post */

.post {
  color: #282c34;
  background: #F3EFE4;
  padding-bottom: 10px;
}

.thumbnail {
  height: 120px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
  background-color: rgba(47, 50, 50, 0.1);
  overflow: hidden;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.price-tag {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(47, 50, 50, 0.5);
  padding: 0 5px;
  color: #F3EFE4;
  border-radius: 3px;
}

/* postDetails */

.post-details_thumbnail {
  background-color: rgba(47, 50, 50, 0.1);
  border-radius: 5px;
}

.post-details_thumbnail-image {
  width: 100%;
  height: calc(85vw * 0.6); 
  object-fit: contain;
}

.post-details-image-wrap {
  height: 120px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
  background-color: rgba(47, 50, 50, 0.1);
  overflow: hidden;
}

.post-details-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}

/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 50, 50, 0.5);
}
.backdrop img{
  display: block;
  max-width: 90%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}

/* Settings */
.settings {
  position: relative;
  line-height: 2.0rem;
}


.settings h5 {
  font-weight: 700;
  padding-top: 10px;
}

.settings > div > div button {
  padding: 0px;
}

/* Userpage & Mypage */

.user-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: 5px;
}

.user-page .my-page {
  width: 50%;
  margin: 0 auto;
}

.created-post-container {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

/* imageArea */

.eye-catch-img {
  width: 165px;
  height: calc(165px*0.6);
  object-fit: contain;
}

/* search */
.search > input {
  border-bottom: 1px solid #282c34;
}

